<section id="inner-title" class="inner-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-8"><h2>404</h2></div>
      <div class="col-lg-4">
        <div class="breadcrumbs">
          <ul>
            <li>Current Page:</li>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/404">404</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> 

<section id="section19" class="section19">
  <div class="container">
   <div class="row">
     <div class="col-lg-6"><div class="section19-404"><h1>404</h1><h3>Sorry, The page you are loking for is no longer exist.</h3></div></div>
     <div class="col-lg-6">
     <div class="section19-subscribe">
     	<h3>To get some updates just subscribe with us.</h3>
     	<div class="control-group form-group" ng-controller="newsLetter">
            <div class="controls">
              <input type="text" class="form-control" id="name" ng-model="email" required placeholder="Subscribe your Email ID">
              <button type="submit" class="btn btn-primary" ng-click="newsLetterGo(email)">Subscribe</button>
            </div>
        </div>
      </div>  
     </div>
   </div>  
  </div>
</section> 