<section id="inner-title" class="inner-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h2>About us</h2></div>
            <div class="col-md-6 col-lg-6">
                <div class="breadcrumbs">
                    <ul>
                        <li>Current Page:</li>
                        <li><a href="#/home">Home</a></li>
                        <li><a href="#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section18" class="section-margine">
    <div class="container">
        <div class="section18-border">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="section-18-img"><img src="" class="img-responsive" alt="picture of all of us" /></div>
                </div>
                <div class="col-md-8 col-lg-8">
                    <div class="textcont">
                        <h2>Our mission...</h2>
                        <p>We are dedicated to developing your business on PAR; professional, adaptable, and reliable. (is it longer?)</p>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="section17" class="section-margine section17">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="team-member1">
                    <div class="team-member1-img-cont"><img src="" class="img-responsive" alt="david" /></div>
                    <div class="team-member1-details">
                        <h4>David Lowber</h4>
                        <p><strong>Title</strong></p>
                        <p class="sub">Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Lorem Ipsum is simply dummy text of the printing and typesetting LoremLorem Ipsum is simply dummy text otypesetting Lorem</p>
                        <p><i class="fa fa-envelope fa-2x"></i> david@example.com</p>
                        <p><i class="fa fa-phone fa-2x"></i> do we wanna put phones? </p>
                        <p><i class="fa fa-globe fa-2x"></i> www.mysite.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="team-member1">
                    <div class="team-member1-img-cont"><img src="images/team/2.jpg" class="img-responsive" alt="austin" /></div>
                    <div class="team-member1-details">
                        <h4>Austin Truex</h4>
                        <p><strong>Developer</strong></p>
                        <p class="sub">Austin is an Idaho native, he grew up in McCall and moved to the Treasure Valley when he was 16. He received his Associate's Degree in Software Development from the College of Western Idaho. In his spare time, he enjoys an array of activities such as dirt biking, snowboarding, video games, hockey, and hanging with friends. He loves programming and in the latest hours of the night when no one should be awake you can usually find him at his computer with several cups of coffee close by.</p>
                        
                        <br>
                       
                        <p><i class="fa fa-envelope fa-2x"></i> austintruex68@gmail.com</p>
                        <p><i class="fa fa-phone fa-2x"></i> do we wanna put this?</p>
                        <p><i class="fa fa-globe fa-2x"></i> www.atruexdevelopment.com</p>
                        <div class="AboutTag"><a>Angular JS</a></div>
                        <div class="tag"><a>Firebase</a></div>
                        <div class="tag"><a>JQuery</a></div>
                        <div class="tag"><a>Meteor JS</a></div>
                        <div class="tag"><a>HTML</a></div>
                        <div class="tag"><a>CSS</a></div>
                        <div class="tag"><a>JavaScript</a></div>
                        <div class="tag"><a>Bootstrap 3</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="team-member1">
                    <div class="team-member1-img-cont"><img src="images/team/3.jpg" class="img-responsive" alt="nikki" /></div>
                    <div class="team-member1-details">
                        <h4>Nikki Vandermeer</h4>
                        <p><strong>Title</strong></p>
                        <p class="sub">Nikki was born in Idaho and grew up in the Treasure Valley and Lewiston area. After a 17 year career and raising her 3 children, she made the decision to go back to school and start a new adventure in the web and software development industry which she has enjoyed every since. In her spare time, Nikki enjoys spending time with family and friends and venturing out into the great outdoors. Nikki has attended Boise State University and the College of Western Idaho where she received an advanced training certificate in Web Development and an A.A.S degree in Software Development. Since graduating, Nikki has continued to gain experience working as a web design specialist for the State of Idaho.</p>
                        <p><i class="fa fa-envelope fa-2x"></i> sara@example.com</p>
                        <p><i class="fa fa-phone fa-2x"></i> +9874039183</p>
                        <p><i class="fa fa-globe fa-2x"></i> www.mysite.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="team-member1">
                    <div class="team-member1-img-cont"><img src="images/team/4.jpg" class="img-responsive" alt="jacobi" /></div>
                    <div class="team-member1-details">
                        <h4>Jacobi Graziano</h4>
                        <p><strong>Developer</strong></p>
                        <p class="sub">Jacobi was born and raised in Southern California and moved to Idaho in 2006. Since then he has completed his Associate's Degree in Software Development with a Web Development focus. He spends his spare time playing and making video games and spending time with his family.</p>
                        <p><i class="fa fa-envelope fa-2x"></i> sara@example.com</p>
                        <p><i class="fa fa-phone fa-2x"></i> +9874039183</p>
                        <p><i class="fa fa-globe fa-2x"></i> www.mysite.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="team-member1">
                    <div class="team-member1-img-cont"><img src="images/team/4.jpg" class="img-responsive" alt="aleah" /></div>
                    <div class="team-member1-details">
                        <h4>Aleah Lowber</h4>
                        <p><strong>Title</strong></p>
                        <p class="sub">Aleah is a Boise Native and fellow Yote. She graduated from the College of Idaho in Caldwell, Idaho with a Bachelor of Arts in Business Administration and Bachelor of Arts in Spanish. She also has two years of Escrow and Customer Service Experience.</p>
                        <p><i class="fa fa-envelope fa-2x"></i> sara@example.com</p>
                        <p><i class="fa fa-phone fa-2x"></i> +9874039183</p>
                        <p><i class="fa fa-globe fa-2x"></i> www.mysite.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
        </div>
    </div>
</section>
