<section id="slider" class="">
  <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner homeCarousel"> 
      <!--1st item start-->
      <div class="item active"> <img src="images/site/header1.jpg" class="img-responsive" alt="First Slide Image">
        <div class="carousel-caption">
          <h1 class="wow slideInLeft color-white">Web Proffessionals</h1>
          <h3 class="wow slideInRight color-white">Finding your web solution</h3>
          <a href="#" class="btn btn-primary wow bounceInUp">Get Started!</a> &nbsp; <a href="#" class="btn btn-seconday wow bounceInUp">View More</a></div>
      </div>
      <!--1st item end--> 
      <!--2nd item start-->
      <div class="item"> <img src="images/site/header1.jpg" class="img-responsive" alt="Second Slide Image">
        <div class="carousel-caption">
          <h1 class="wow slideInLeft color-white">GREATE USER EXPERIENCE</h1>
          <h3 class="wow slideInRight color-white">We are here to help people</h3>
          <a href="#" class="btn btn-primary wow bounceInUp">Get Started!</a> &nbsp; <a href="#" class="btn btn-seconday wow bounceInUp">View More</a></div>
      </div>
      <!--2nd item end--> 
      <!--3rd item start-->
      <div class="item"> <img src="images/site/header1.jpg" class="img-responsive" alt="Third Slide Image">
        <div class="carousel-caption">
          <h1 class="wow slideInLeft color-white">WE BUILD NEW TECHNOLOGY</h1>
          <h3 class="wow slideInRight color-white">We are not here to just make profit</h3>
          <a href="#" class="btn btn-primary wow bounceInUp">Get Started!</a> &nbsp; <a href="#" class="btn btn-seconday wow bounceInUp">View More</a></div>
      </div>
      <!--3rd item end--> 
      <!--4th item start-->
      <div class="item"> <img src="images/site/header1.jpg" class="img-responsive" alt="Fourth Slide Image">
        <div class="carousel-caption">
          <h1 class="wow slideInLeft color-white">WHAT WE HAVE</h1>
          <h3 class="wow slideInRight color-white">Around 80+ peoples are working together</h3>
          <a href="#" class="btn btn-primary wow bounceInUp">Get Started!</a> &nbsp; <a href="#" class="btn btn-seconday wow bounceInUp">View More</a></div>
      </div>
      <!--4th item End--> 
    </div>
    <!-- Carousel controls --> 
    
    <a class="carousel-control left" data-target="#myCarousel" data-slide="prev"> <span class="carousel-arrow"> <i class="fa fa-chevron-left fa-2x"></i></span> </a> <a class="carousel-control right" data-target="#myCarousel" data-slide="next"> <span class="carousel-arrow"><i class="fa fa-chevron-right fa-2x"></i></span> </a> 
  </div>
</section>
<section id="section1" class="section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 ">
        <div class="section-1-box wow bounceIn">
          <div class="section-1-box-icon-background"><i class="fa fa-align-justify fa-2x"></i></div>
          <h4 class="text-center">Responsive Design</h4>
          <p class="text-center">To ensure your website looks just as good on a phone or tablet, as it does on the computer.</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-1-box wow bounceIn" data-wow-delay=".1s">
          <div class="section-1-box-icon-background"><i class="fa fa-check fa-2x"></i></div>
          <h4 class="text-center">Quick Turnaround</h4>
          <p class="text-center">Our team of proffesionals can promise quick turnaround times to get you up and running as quick as possible.</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-1-box wow bounceIn" data-wow-delay=".2s">
          <div class="section-1-box-icon-background"><i class="fa fa-pencil fa-2x"></i></div>
          <h4 class="text-center">Custom Solutions</h4>
          <p class="text-center">Whether you are looking for a website based off of one of our pre-built templates, or you need something custom. We can help.</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-1-box wow bounceIn" data-wow-delay=".3s">
          <div class="section-1-box-icon-background"><i class="fa fa-picture-o fa-2x"></i></div>
          <h4 class="text-center">Elegant Illustrations</h4>
          <p class="text-center">Our team of graphic designers can help you get a logo or graphic that will match you or your companies needs.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="section2" class="section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 nopadding">
        <div class="section-2-box-left wow fadeInLeft">
          <h4>WELCOME TO DYNAMIC IDAHO</h4>
          <h2>WE ARE WEB PROFFESIONALS</h2>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="section-2-box-right wow fadeInRight">
          <p>We are a growing web dev company based out of beautiful Boise ID. We strive to deliver a product that leaves clients satisfied, and we do it in a timely manner.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- will implement this when we actually have clients and projects to 'count' -->
<!-- <section id="section3" class="section-margine section3-background">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="section-3-box">
          <figure><i class="fa fa-desktop fa-2x"></i></figure>
          <h3><span class="counter">1000</span>+</h3>
          <h4>Web Projects</h4>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-3-box">
          <figure><i class="fa fa-group fa-2x"></i></figure>
          <h3><span class="counter">1520</span>+</h3>
          <h4>Great Clients</h4>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-3-box">
          <figure><i class="fa fa-coffee fa-2x"></i></figure>
          <h3><span class="counter">50</span>+</h3>
          <h4>Coffie Cup</h4>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-3-box">
          <figure><i class="fa fa-glass fa-2x"></i></figure>
          <h3><span class="counter">400</span>+</h3>
          <h4>Awards Winner</h4>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="section5" class="section-margine section-5-background">
  <div class="container">
    <div class="row" id="homeParaRow">
      <div class="col-md-6 col-lg-6">
        <div class="section-5-box-text-cont wow fadeInRight">
          <h2>The Team</h2>
          <p>A lot of people find that the better the people, the better the product. At Dynamic Idaho, we have a broad set of both personality, and skills. We will be able to find the right solution and team member for you.</p>
          <a href="#/about" class="btn btn-primary">Meet the team!</a> </div>
      </div>
      <div class="col-md-6 col-lg-6"><div class="section-5-box-text-cont wow fadeInLeft"><img src="images/site/logo2.png" class="img-responsive" alt=""></div></div>
    </div>
  </div>
</section>

<!-- not sure what small images we would want to use here -->
<!-- <section id="section9" class="section-margine section-9-background">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-lg-2"><img src="images/clients/1.png" class="img-responsive wow tada" alt=""></div>
      <div class="col-md-2 col-lg-2"><img src="images/clients/2.png" class="img-responsive wow tada" alt=""></div>
      <div class="col-md-2 col-lg-2"><img src="images/clients/3.png" class="img-responsive wow tada" alt=""></div>
      <div class="col-md-2 col-lg-2"><img src="images/clients/4.png" class="img-responsive wow tada" alt=""></div>
      <div class="col-md-2 col-lg-2"><img src="images/clients/5.png" class="img-responsive wow tada" alt=""></div>
      <div class="col-md-2 col-lg-2"><img src="images/clients/6.png" class="img-responsive wow tada" alt=""></div>
    </div>
  </div>
</section> -->
<section id="section8" class="section-margine">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-12" data-wow-delay="0.2s">
        <div class="carousel slide" data-ride="carousel" id="quote-carousel"> 
          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner text-center"> 
            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-8 col-md-8 col-sm-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                    <h4><small>Deborah Hughes</small></h4>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-sm-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                    <h4><small>Deborah Hughes</small></h4>
                    
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-sm-offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <h4><small>Deborah Hughes</small></h4>
                    
                    </div> 
                </div>
              </blockquote>
            </div>
          </div>
          <!-- Carousel Buttons Next/Prev --> 
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-angle-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-angle-right"></i></a> </div>
      </div>
    </div>
  </div>
</section>
<section id="section10" class="section-10-background">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9">
        <div class="section-10-box-text-cont">
          <h3>Try using Dynamic Idaho for your next web project</h3>
          <p>Unleash your potential and realize daring ideas easily.</p>
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="section-10-btn-cont"><a href="#/contact" class="btn btn-seconday wow tada">Get Started!</a></div>
      </div>
    </div>
  </div>
</section>